.provider {
    height: 150px;
    width: 150px;
    border: solid 1px #828282;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.rosenrudel div {
    height: 100px;
    width: 100px;
    background-image: url("../../../../assets/images/rosenrudel.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    margin-left: 25px;
    margin-top: 25px;
}

.oneunited div {
    height: 100px;
    width: 100px;
    background-image: url("../../../../assets/images/oneunited.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    margin-left: 25px;
    margin-top: 25px;
}

.closeContainer {
    display: inline-block;
    width: 100%;

    h1 {
        display: inline-block;
    }

    button {
        float: right;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .providerList {
        display: block;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    .providerList {
        display: block;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .providerList {
        display: block;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .providerList {
        display: block;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    .providerList {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    .providerList {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .providerList {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
