<div *ngIf="isDownloading" class="downloadOverlay">
  <div class="loader">
    <mat-spinner></mat-spinner>
    <h2>Downloading...</h2>
  </div>
</div>

<div class="bg">
  <div class="l_container">
    <h1 class="l_headline"><span class="blueColor">S</span>imple <span class="blueColor">A</span>rma <span
        class="blueColor">L</span>auncher and <span class="blueColor">S</span>yncer</h1>
    <p class="l_text"><span class="l_text_headline">Der All-In-One Laucher für jedes ArmA 3 Projekt!</span>
      <br>Benutzerfreundliche Benutzerinterface,
      <br>einfaches Administrieren der Daten mit <br>modernsten Technologien.</p>
    <img class="launcherImg" alt="">
    <button (click)="openDialog()" class="btn-download" mat-raised-button>Download Launcher <i
        class="fas fa-download"></i></button>
  </div>
</div>