<div class="navbar">
    <div class="logo">
        <img src="../../../../assets/images/logo.png" width="500px" alt="">
    </div>

    <div class="links">
        <ul>
            <li><a href="https://docs.sals-app.com" target="_blank">Docs</a></li>
            <li><a href="https://github.com/SALS-App/SALS" target="_blank">Bug Tracker</a></li>
            <li><a href="https://brain-beta.sals.app">Admin Login</a></li>
            <li><a href="https://steamcommunity.com/id/TAINCER" target="_blank">Kontakt</a></li>
        </ul>
    </div>
</div>