<div class="navbar">
  <div class="logo">
    <img src="../../../../assets/images/logo.png" width="500px" alt="">
  </div>

  <div class="links">
    <ul>
      <li><a href="#">LINK1</a></li>
      <li><a href="#">LINK1</a></li>
      <li><a href="#">LINK1</a></li>
      <li><a href="#">LINK1</a></li>
      <li><a href="#">LINK1</a></li>
    </ul>
  </div>
</div>

<section>
  <div class="info-text">
    <h1>Der Bla Bla</h1>
    <p>Text</p>
  </div>

  <div class="action-links">
    <a href="#">DL</a>
    <a href="#">Info</a>
  </div>

</section>