<div class="bg">
  <div class="l_container">
    <h1 class="l_headline"><span class="blueColor">S</span>imple <span class="blueColor">A</span>rma <span
        class="blueColor">L</span>auncher and <span class="blueColor">S</span>yncer</h1>
    <p class="l_text"><span class="l_text_headline">Der All-In-One Launcher für jedes ArmA Projekt!</span>
      <br>Benutzerfreundliches Benutzerinterface,
      <br>einfaches Administrieren der Daten mit <br>modernsten Technologien.
    </p>
    <img src="../../../../assets/images/launcher.png" class="launcherImg" alt="">
  </div>
</div>