<div class="home">
    <div class="bg-image">
        <app-navbar></app-navbar>

        <section id="section1">
            <div class="info-text">
                <h1>Der All-In-One Launcher für jedes ArmA Projekt!</h1>

                <div>
                    <p>Benutzerfreundliches Interface,</p>
                    <p>Einfaches Administrieren der Daten mit</p>
                    <p>modernsten Technologien.</p>
                </div>
            </div>

            <div class="action-links">
                <a (click)="download()" mat-raised-button color="primary">Download Launcher</a>
                <a href="https://docs.sals-app.com/de" target="_blank" mat-stroked-button
                    color="primary">Dokumentation</a>
            </div>

        </section>
    </div>

    <section id="section2">
        <h1>ROFL</h1>
    </section>
</div>