<div class="home">
    <div class="bg-image">
        <app-navbar></app-navbar>

        <section id="section1">
            <div class="info-text">
                <h1>Der All-In-One Launcher für jedes ArmA Projekt!</h1>

                <div>
                    <p>Elegantes und modernes Interface.</p>
                    <p>Einfache Administration für die Community.</p>
                    <p>Einfache Bedienung um so unkompliziert wie möglich ins Spiel zu starten.</p>
                </div>
            </div>

            <div class="action-links">
                <a (click)="download()" mat-raised-button color="primary">Download Launcher</a>
                <a href="https://docs.sals-app.com/de" target="_blank" mat-stroked-button
                    color="primary">Dokumentation</a>
            </div>

        </section>
    </div>

    <section id="section2">
        <h1>Features</h1>

        <div class="features">
            <div class="row">
                <div class="feature-details col-6">
                    <h3>Multi-Modset Support</h3>
                    <p>Hiermit können viele verschiedene Modsets mit einem Minimum an belegtem Speicherplatz realisiert
                        werden.
                    </p>
                </div>
                <div class="col-6 d-flex showcase-video">
                    <video src="../../../../assets/images/sals_1.webm" width="700px" autoplay loop></video>
                </div>
            </div>


            <div style="margin-top: 5%" class="row">
                <div class="feature-details col-6">
                    <h3>Simple und Verständliche Einstellungen</h3>
                    <p>
                        Alle Einstellungen, die zum Spielen wichtig sind, können hier angepasst werden. Optionen, wie
                        DLC oder Mod-Spezifische Einstellungen (ACE Medical) etc. werden von der jeweiligen Community
                        festgelegt.</p>
                </div>
                <div class="col-6 d-flex showcase-video">
                    <video src="../../../../assets/images/sals_2.webm" width="700px" autoplay loop></video>
                </div>
            </div>
        </div>

    </section>

    <footer>
        FOOTER
    </footer>
</div>